*/__pycache__
*/__pycache__/*
*.pyc

datasets/samples/*
datasets/original/*/*.csv
datasets/original/*/*/*.csv
# API KEYS
key
key/*
.env

# Model files
model/embedding/ko-sroberta-multitask/*

# venv
venv
.venv

# ignore 
*/ignore/*