*/__pycache__
*/__pycache__/*
*.pyc

datafile/samples/*
datafile/original/*/*.csv
datafile/original/*/*/*.csv
datafile/practice/*
datafile/results/*
*.csv
*.xlsx

# git rm --cached *.csv
# git commit -m "Stop tracking csv files"

# API KEYS
key
key/*
.env

# Model files
model/embedding/ko-sroberta-multitask/*

# venv
venv
.venv

# ignore 
*/ignore/*

# MY PAPER
utils/reward/dspy_hierarchical_reward.py
agent/prompts/optimizer_llm.py